	<!-- $Id: city_menu.html,v 1.14 2006/03/12 23:19:54 acydburn Exp $ -->
	<table width="100%" cellspacing="1" cellpadding="0">
      <tr>
        <td><a href="{U_CITYOUT}">{L_CITY_OUTSIDE}</a> | <a href="{U_CITYMAIN}">{L_CITY_PLACE}</a> | <a href="{U_CITYHALL}">{L_CITY_HALL}</a> | <a href="{U_CITYBANK}">{L_CITY_BANK}</a> | {L_CITY_HOSPITAL} | <a href="{U_CITYBIZ}">{L_SOWNTOWN}</a>[{U_BIZ}] | <a href="{U_CITYTOWN}">{L_UPTOWN}</a> [{U_RESIDENTIALAERA}]</td>
		<!-- IF U_MCP -->	
        <td class="row1" width="20%"><p class="linkmcp">[ <a href="{U_MCP}">{L_MCP}</a> ]</p></td>
		<!-- ENDIF -->
      </tr>
    </table>
	<div id="city_bag" style="background-image:url(images/rpg/city/{CITYSTYLE}.jpg); background-repeat:repeat-x; height:120px;"></div>