<!-- INCLUDE overalllit_header.html -->

	<!-- $Id: index_body.html,v 1.14 2006/03/12 23:19:54 acydburn Exp $ -->

<link href="style/admin.css" rel="stylesheet" type="text/css" media="screen" />
{M_AJAX}
<script type="text/javascript">
<!--




// Set display of page element
// s[-1,0,1] = hide,toggle display,show
function dE(n, s, type)
{
	if (!type)
	{
		type = 'block';
	}

	var e = document.getElementById(n);
	if (!s)
	{
		s = (e.style.display == '') ? -1 : 1;
	}
	e.style.display = (s == 1) ? type : 'none';
}

// Mark/unmark checkboxes
// id = ID of parent container, name = name prefix, state = state [true/false]
function marklist(id, name, state)
{
	var parent = document.getElementById(id);
	if (!parent)
	{
		return;
	}

	var rb = parent.getElementsByTagName('input');
	
	for (var r = 0; r < rb.length; r++)
	{
		if (rb[r].name.substr(0, name.length) == name)
		{
			rb[r].checked = state;
		}
	}
}


//-->
</script>

<div id="wrap">
	<div id="page-body">
		<div id="tabs">
			<ul>
							<li {S_SELECTED1}><a href="{U_URL}1"><span>{L_GENERAL}</span></a></li>
							<li {S_SELECTED2}><a href="{U_URL}2"><span>{L_USER_BAG}</span></a></li>
							<li {S_SELECTED3}><a href="{U_URL}3"><span>{L_USER_JOB}</span></a></li>
							<li {S_SELECTED4}><a href="{U_URL}4"><span>{L_USER_SKILLS}</span></a></li>
						</ul>
		</div>
	
		<div class="panel">
			<span class="corners-top"><span></span></span>
				<div id="content">
					<div id="menu">
						<p>{L_USER_NAME}:<br /><strong>PROSE</strong> [&nbsp;<a href="./../ucp.php?sid=0fad2cd1c1164520ab44caafbe64cd39&amp;mode=logout">Logout</a>&nbsp;]</p>



<div id=Show style="PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 141px; PADDING-TOP: 0px; POSITION: relative; TOP: 0px; HEIGHT: 300px;"></div>						
					</div>
	
					<div id="main">
					
<!-- IF S_USER_INFO --><!-- INCLUDE user_info_main.html --><!-- ENDIF -->
<!-- IF S_USER_BAG --><!-- INCLUDE userbag_body.html --><!-- ENDIF -->
<!-- IF S_USER_SKILLS --><!-- INCLUDE userskills_body.html --><!-- ENDIF -->

</div>
				</div>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
	

<SCRIPT LANGUAGE="JavaScript" TYPE="text/javascript">

//var currface = GetCookie('tempequip');
var currface = "0-0-32-31-0-0-0";
var showArray = currface.split('-');

function onload()
{
	var s="";
	for (var i=0; i<7; i++)
	{
		if(showArray[i] != '0')
		{
			s+="<IMG id=s"+i+" src=images/rpg/persona/e"+i+"/"+showArray[i]+"_{U_IMG_PHYLE}_{U_IMG_GENDER}_b.gif style='padding:0;position:absolute;top:0;left:0;width:141;height:300;z-index:"+(i+1)+";'>";
		}
	}

	s+="<IMG src='images/rpg/persona/{U_IMG_GENDER}/main_{U_IMG_PHYLE}.gif' style='padding:0;position:absolute;top:0;left:0;width:141;height:300;z-index:0;'>";
	//alert(s);
	Show.innerHTML=s;
}


onload();

</script>
	
</div>
<!-- INCLUDE overall_footer.html -->
