<!-- INCLUDE overalllit_header.html -->
<!-- INCLUDE city_menu.html -->
	<!-- $Id: index_body.html,v 1.14 2006/03/12 23:19:54 acydburn Exp $ -->
	

	<table class="tablebg" width="100%" cellspacing="1" cellpadding="0">
      <tr>
        <td height="27" align="center" valign="middle" class="row1"><p style="font-size:14px;color: black;font-weight: bold;white-space: normal;">{CITYNAME} - {BUILD_NAME}</p></td>
      </tr>
    </table>
	<br clear="all" />

	
	    <table width="720" align="center" cellpadding="0" cellspacing="1" class="city_main">
      <tr>
        <td width="180" height="280" align="left" valign="top"><a href="{S_DO_ACTION}">
		<img src="images/rpg/img/skill_{SYS_BUILD}_create.gif" height="280" width="180" /></a></td>
        <td width="180" height="181" align="left" valign="top"><a href="{S_APPRAISAL_ACTION}">
		<img src="images/rpg/img/skill_{SYS_BUILD}_appraisal.gif" height="280" width="180" /></a></td>
        <td width="180" align="left" valign="top"><a href="{S_TECH_ACTION}"><img src="images/rpg/img/skill_{SYS_BUILD}_tech.gif" height="280" width="180" /></a><br /></td>
        <td width="180" align="left" valign="top"><a href="{S_STUDY_ACTION}">
		<img src="images/rpg/img/skill_{SYS_BUILD}_study.gif" height="280" width="180" /></a></td>
      </tr>
      <tr>
        <td align="center" valign="middle">{SKILL_USE}</td>
        <td height="21" align="center" valign="middle">{L_JOB_APPRAISAL}</td>
        <td align="center" valign="middle">{L_SKILL_TECH}</td>
        <td align="center" valign="middle">{L_SKILL_STUDY}</td>
      </tr>
    </table>
    <br clear="all" />

	<br clear="all" />

	<table class="tablebg" width="100%" cellspacing="1" cellpadding="0">
		<tr>
			<td class="row1">
				<p class="breadcrumbs"><a href="{U_INDEX}">{L_INDEX}</a></p>
				<p class="datetime">{S_TIMEZONE}</p>
			</td>
		</tr>
	</table>


    <br clear="all" />



<!-- INCLUDE overall_footer.html -->